.content-new-dose {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  url("https://res.cloudinary.com/dplcic1aj/image/upload/v1542032869/mr-cocktail/static/prepare.jpg");
  background-size: cover !important;

  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    text-align: left;
  }
  
  p {
    font-size: 16px;
    font-weight: bolt;
    color: rgb(255, 255, 255);
    i{
      color: rgb(255, 70, 70);
    }
  }
}
